.resumeButtons {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  padding: 25px;
  gap: 10px;
  button {
    border-radius: 8px;
    padding: 15px 25px;
    background: rgb(119, 6, 119);
    color: white;
    font-family: "Sono", monospace;
    cursor: pointer;
    // border: rgb(119, 6, 119) 1px solid;
    &:active {
      background: rgb(83, 6, 83);
    }
  }
}
