@use "../../mixins/index.scss";
@import "../../mixins/breakpoints";

.likeCardsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.likeCard {
  width: 100%;
  height: 200px;
  background: grey;
  color: white;
  border-radius: 15px;
  position: relative;
  margin: 10px;
  .baseInformation {
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    img {
      height: 100%;
      width: auto;
      position: relative;
      top: 30%;
    }
    .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 5px;
      gap: 5px;
      h3 {
        font-family: "Jura", sans-serif;
      }
      p {
        font-family: "Sono", monospace;
        overflow: hidden;
      }
    }
  }
  .overlay {
    display: none;
  }
}

@include md {
  .likeCard {
    width: 25%;
    margin: 1%;
    height: 400px;
    background: grey;
    padding: 25px;
    color: white;
    border-radius: 15px;
    position: relative;
    .baseInformation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      .text {
        width: 100%;
        h3 {
          font-family: "Jura", sans-serif;
        }
        p {
          font-family: "Sono", monospace;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      background: rgba(100, 100, 100, 0);
      transition: background 0.25s ease-in;
      border-radius: 15px;
      cursor: pointer;
      .data {
        background: rgba(0, 0, 0, 0);
        transition: background ease-in 0.25s;
      }
    }
    &:hover > .baseInformation {
      h3,
      p {
        opacity: 0;
      }
    }
    &:hover > .overlay {
      z-index: 10;
      background: rgba(100, 100, 100, 0.5);
      transition: background 0.25s ease-in;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .overlayData {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .data {
          background: rgba(0, 0, 0, 1);
          transition: background ease-in 0.25s;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 25px;
          opacity: 2.5;
          width: 80%;
          border-radius: 15px;
          .text {
            width: h3 {
              font-family: "Jura", sans-serif;
            }
            p {
              font-family: "Sono", monospace;
            }
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .noData {
        height: 20px;
      }
    }
  }
}
