@use "../../mixins/index.scss";
@import "../../mixins/breakpoints";

.anchoredImage {
  position: fixed;
  right: 0.5rem;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  @include md {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}
